/*
 * 将会被自动应用的全局样式文件，会生成在最终的 CSS 文件结尾，具有比默认样式更高的优先级。
*/

// *{
//     outline: none;
// }



// .search-box {
//     margin: 0 auto !important;

//     input {
//         border-radius: 8px !important;
//     }
// }

// .navbar .links
//     width: 100%
// .nav-link
//     transition: all .4s
// .sidebar 
//     background-color: transparent

// body{
//     // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
//     font-family: sans-serif;
// }