/*
 * 用于重写默认颜色常量，或者设置新的 stylus 颜色常量。
*/

// 颜色
$accentColor = #46c5c8
// $accentColor = #346d30
$textColor = #2c3e50
$borderColor = #eaecef
// $codeBgColor = #282c34
$codeBgColor = #222f3e
$arrowBgColor = #76828e
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 4.4rem
$sidebarWidth = 18rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// 字体大小
$navbarFontSize = 1rem